<div class="container">
  <mat-card>
    <mat-card-title>Iniciar Sesion</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">

        <mat-form-field>
          <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" required>

            <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
              Por favor digite un correo valido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Clave</mat-label>
            <input matInput type="{{ hidePassword ? 'password' : 'text' }}" formControlName="clave" placeholder="Clave" required>

            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            <mat-error *ngIf="loginForm.get('clave').invalid && loginForm.get('clave').touched">
              Por favor digite un correo valido.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"
        (click)="onSubmit()">Iniciar Sesion</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
